.design{ 
  
  margin: 4rem 6rem;
  text-align: start;
  
}

.design h1{
   padding-bottom: 1rem;
 
}

.design p{
    font-size: 20px;
    padding-bottom: 2rem;
}

@media screen and(max-width:850px) {
  .design{
    margin: 4rem 2rem;
  }
  
}