.design{
  max-width: 800px;
  margin: 0 auto;
  
  background-color: #f5f5f5;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.design h1{
    font-size: 24px;
    margin-bottom: 20px;
   margin-top: 10%;
 
}

.design p{
    font-size: 16px;
    margin-bottom: 10px;
}