/* .hero{
    width: 100%;
    height: 50%;
    position: relative;
}
img{
    width: 100%;
    height: 50%;
    object-fit: cover;
    margin-top: 10%;
} */

.Hero-Text{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    
}

.Hero-Text h1{
    font-size: 3rem;
    font-weight: 600;
    background: black;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  
}

.Hero-Text p{
    font-size: 1.3rem;
    color: black;
    padding: 0.5rem 0 2rem 0;
}